<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Book Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onCreateModal('add')">Add Book <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchBooks(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search books..." required>
     </form>
  </div>
</nav>


<div class="container" id
="main-container">

  <div class="row clearfix">
    <div *ngFor="let book of books" class="col-md-3 col-sm-6 col-xs-12">
        <div class="boxs project_widget">
             <div class="pw_img">
                <img class="img-responsive" src="{{book?.imageUrl}}" alt="{{book?.imageUrl}}">
            </div>
            <div class="pw_content">
                <div class="pw_header">
                    <h6>{{book.title}}</h6>
                    <small class="text-muted">{{book.author}}</small>
                </div>
                <div class="pw_meta">
                    <span>{{book.genre}}</span>
                    <small class="text-muted">{{book.published}}</small>
                    <small class="text-danger">{{book.pages}}</small>
                </div>
                <div class="pw_meta">
                    <div class="float-center btn-group btn-group-sm">
                        <a class="btn btn-primary tooltips" (click)="onOpenModal(book,'edit')"
                          data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a class="btn btn-secondary tooltips" (click)="onOpenModal(book,'delete')"
                          data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Add Book Modal -->
  <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
              <div class="form-group">
                 <label for="title">Title</label>
                 <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
              </div>
              <div class="form-group">
                 <label for="genre">Genre</label>
                 <input type="text" ngModel name="genre" class="form-control" id="genre" placeholder="Genre" required>
              </div>
              <div class="form-group">
                 <label for="isbn">ISBN</label>
                 <input type="text" ngModel name="isbn" class="form-control" id="isbn" placeholder="ISBN" required>
              </div>
              <div class="form-group">
                 <label for="pages">Pages</label>
                 <input type="text" ngModel name="pages" class="form-control" id="pages" placeholder="Pages" required>
              </div>
              <div class="form-group">
                 <label for="author">Author</label>
                 <input type="text" ngModel name="author" class="form-control" id="author" placeholder="Author" required>
              </div>
              <div class="form-group">
                 <label for="published">Published</label>
                 <input type="text" ngModel name="published" class="form-control" id="published" placeholder="Published" required>
              </div>
              <div class="form-group">
                 <label for="imageUrl">Image URL</label>
                 <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image Url" required>
              </div>
              <div class="modal-footer">
                 <button type="button" id="add-book-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
            </form>
         </div>
      </div>
    </div>
    </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="ebookEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateBookModalLabel">Edit Book {{editBook?.title}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm" >
                <div class="form-group">
                   <label for="title">Title</label>
                   <input type="text" ngModel="{{editBook?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">
                </div>

                <input type="hidden" ngModel="{{editBook?.id}}" name="id" class="form-control" id="id" placeholder="Id">

                <div class="form-group">
                   <label for="genre">Genre</label>
                   <input type="text" ngModel="{{editBook?.genre}}" name="genre" class="form-control" id="genre" placeholder="Genre">
                </div>

                <div class="form-group">
                   <label for="author">Author</label>
                   <input type="text" ngModel="{{editBook?.author}}" name="author" class="form-control" id="author" name="author" placeholder="Author">
                </div>

                <div class="form-group">
                   <label for="published">Published</label>
                   <input type="text" ngModel="{{editBook?.published}}" name="published" class="form-control" id="published" name="published" placeholder="Published">
                </div>

                <div class="form-group">
                   <label for="pages">Pages</label>
                   <input type="text" ngModel="{{editBook?.pages}}" name="ppages" class="form-control" id="pages" name="pages" placeholder="Pages">
                </div>

                <div class="form-group">
                   <label for="isbn">ISBN</label>
                   <input type="text" ngModel="{{editBook?.isbn}}" name="isbn" class="form-control" id="isbn" name="isbn" placeholder="ISBN">
                </div>

                <div class="form-group">
                   <label for="imageUrl">Image URL</label>
                   <input type="text" ngModel="{{editBook?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>

                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateBook(editForm.value)" data-dismiss="modal" class="btn btn-primary"> Save changes </button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Book</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete book {{deleteBook?.title}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteBook(deleteBook.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>

</div>
